<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Firely.Fhir.ValidationDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Firely.Fhir.ValidationDemo.Properties.Settings>
            <setting name="ProfileSourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="InstanceText" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminologyService" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBuiltInTX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TerminologyServiceList" serializeAs="String">
                <value>https://r4.ontoserver.csiro.au/fhir|https://tx.fhir.org/r4</value>
            </setting>
            <setting name="DisableFP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegenerateSnapshot" serializeAs="String">
                <value>False</value>
            </setting>
        </Firely.Fhir.ValidationDemo.Properties.Settings>
    </userSettings>
  <runtime>
  </runtime>
</configuration>
